################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.map
src/node_modules
src/.vs
src/obj
packages
*.vsix
src/bin
/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/Work-Item-Details-Widget-Extension/v15/.suo
*.suo
/.vs
/src/vsarVSTS-WI-details-widget.csproj.user
src/dist
/Sync.cmd
